<div id="top_head">
<a name="top" id="top"></a>
			<style:logo_style_default>
				<h1>Callisto</h1>
			</style:logo_style_default>
			<style:logo_text_title>
				<h1>{BOARD_TITLE}</h1>
			</style:logo_text_title>
			<style:logo_text_title_info>
				<h1>{BOARD_TITLE}</h1>
				<b>{BOARDT_INFO}</b>
			</style:logo_text_title_info>
		</div>
</div>
<path>
<div id="breadcrumbs">
		>> <breadcrumbs><element><a href="{URL}" target="{TARGET}">{TITLE}</a></element><spacer> > </spacer></breadcrumbs>
</div>
</path>

<div id="body_border">

{CONTENT}

</div>

<div id="foot_ops">
<table>
	<tr>
		<td nowrap="nowrap" class="foot_ops_cell"><a href="mailto:{LINK_CONTACT}" >{TITLE_CONTACT}</a></td>
		<style:siteurl>
			<td nowrap="nowrap" class="foot_ops_cell"><a href="{LINK_SITEURL}" >{TITLE_SITEURL}</a></td>
		</style:siteurl>
		<td class="foot_ops_cell" style="width: 100%; text-align: center;" nowrap="nowrap"><a href="{LINK_MODE_CHANGE}">{TITLE_MODE_CHANGE}</a></td>
		<td nowrap="nowrap"><div id="foot_time">{SITE_TIME}</div></td>
	</tr>
</table>
</div>

<div id="credits">
<div>{CREDITS}</div>
</div>