<style:post_0>
<tr>
	<td class="post_profile_vert_0">
		<table width="100%" border="0" cellspacing="3" cellpadding="0">
		  <tr>
			<style:avatar><td>{AUTHOR_AVATAR}</td></style:avatar>
			<td NOWRAP="nowrap" style="padding-left: 4px;">
				<div class="post_autor"><style:author_status>{AUTHOR_STATUS_IMG} </style:author_status>{AUTHOR_NAME}</div>
				<style:member>{AUTHOR_TITLE}<br />{AUTHOR_RANK}</style:member>
			</td>
			<td width="100%">&nbsp;
					
			</td>
			<td NOWRAP="nowrap" style="width: 300px; vertical-align: top;">
				
				<b>{PROFILE_GROUP}:</b> {USER_GROUP}<br />
				<style:member><style:posts><b>{PROFILE_POSTS}:</b> {USER_POSTS}<br /></style:posts>
				<style:reps><b>{PROFILE_REPUTATION}:</b> {USER_REPUTATION}<br /></style:reps>
				<style:warns><b>{PROFILE_WARNS}:</b> {USER_WARNS}<br /></style:warns>
				<style:author_location><b>{PROFILE_LOCATION}:</b> {USER_LOCATION}<br /></style:author_location>
				<b>{PROFILE_JOIN_DATE}:</b> {USER_JOIN_DATE}
				{FIELDS}</style:member>
				
			</td>
		  </tr>
		</table>
	</td>
</tr>
<tr>
	<td class="post_top">
		{INFO}
	</td>
</tr>
<tr>
	<td class="post_text_0">
		<style:reported><div class="post_reported">{REPORT_TEXT}</div></style:reported>
		<div class="post_content">{POST_TEXT}</div>
		<style:thanks><div class="post_thanks">{SHOW_THANKS}</div></style:thanks>
		<style:attachment><div class="attachments">{ATTACHMENTS}</div></style:attachment>
		<style:signature><div class="signature">{SIGNATURE}</div></style:signature>	
		<style:edit>
		<div class="edition">
		<style:edit_info><div class="edition_info">{EDIT_INFO}</div></style:edit_info>	
		<style:edit_reason><div class="edition_reason">{EDIT_REASON}</div></style:edit_reason>	
		</div>
		</style:edit>	
	</td>
</tr>
<tr>
	<td class="post_foot">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td>{SHORTCUTS}</td>
			<td style="text-align:right">{ACTIONS} <a href="#top"><img src="{STYLE}/up.png" title="{GO_TO_TOP}"></a></td>
		  </tr>
		</table>
	</td>
</tr>
<tr>
	<td class="post_end" colspan="2"></td>
</tr>
</style:post_0>
<style:post_1>
<tr>
	<td class="post_profile_vert_1">
		<table width="100%" border="0" cellspacing="3" cellpadding="0">
		  <tr>
			<style:avatar><td>{AUTHOR_AVATAR}</td></style:avatar>
			<td NOWRAP="nowrap" style="padding-left: 4px;">
				<div class="post_autor"><style:author_status>{AUTHOR_STATUS_IMG} </style:author_status>{AUTHOR_NAME}</div>
				<style:member>{AUTHOR_TITLE}<br />{AUTHOR_RANK}</style:member>
			</td>
			<td width="100%">&nbsp;
					
			</td>
			<td NOWRAP="nowrap" style="width: 300px; vertical-align: top;">
				
				<b>{PROFILE_GROUP}:</b> {USER_GROUP}<br />
				<style:member><style:posts><b>{PROFILE_POSTS}:</b> {USER_POSTS}<br /></style:posts>
				<style:reps><b>{PROFILE_REPUTATION}:</b> {USER_REPUTATION}<br /></style:reps>
				<style:warns><b>{PROFILE_WARNS}:</b> {USER_WARNS}<br /></style:warns>
				<style:author_location><b>{PROFILE_LOCATION}:</b> {USER_LOCATION}<br /></style:author_location>
				<b>{PROFILE_JOIN_DATE}:</b> {USER_JOIN_DATE}
				{FIELDS}</style:member>
				
			</td>
		  </tr>
		</table>
	</td>
</tr>
<tr>
	<td class="post_top">
		{INFO}
	</td>
</tr>
<tr>
	<td class="post_text_1">
		<style:reported><div class="post_reported">{REPORT_TEXT}</div></style:reported>
		<div class="post_content">{POST_TEXT}</div>
		<style:thanks><div class="post_thanks">{SHOW_THANKS}</div></style:thanks>
		<style:attachment><div class="attachments">{ATTACHMENTS}</div></style:attachment>	
		<style:signature><div class="signature">{SIGNATURE}</div></style:signature>	
		<style:edit>
		<div class="edition">
		<style:edit_info><div class="edition_info">{EDIT_INFO}</div></style:edit_info>	
		<style:edit_reason><div class="edition_reason">{EDIT_REASON}</div></style:edit_reason>	
		</div>
		</style:edit>	
	</td>
</tr>
<tr>
	<td class="post_foot">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td>{SHORTCUTS}</td>
			<td style="text-align:right">{ACTIONS} <a href="#top"><img src="{STYLE}/up.png" title="{GO_TO_TOP}"></a></td>
		  </tr>
		</table>
	</td>
</tr>
<tr>
	<td class="post_end" colspan="2"></td>
</tr>
</style:post_1>