<div class="editor_border">
<div class="editor_tools">{BBTAGS} {EMOS} 

<a href="javascript:increaseTextBoxSize('{VARIABLE}')">{PLUS}</a>
<a href="javascript:decreaseTextBoxSize('{VARIABLE}')">{MINUS}</a>
<a href="javascript:resetTextBoxSize('{VARIABLE}')">{RESET}</a>

</div>
<div class="editor_field">
<textarea id="{VARIABLE}" name="{VARIABLE}" style="width: 100%" rows="9" onselect="storeCaret(this)" onclick="storeCaret(this)" onchange="storeCaret(this)" onkeyup="storeCaret(this)">{TEXT}</textarea>
</div>
</div>