<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Error #{ERROR_NUM}</title>
<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
}
-->
</style>
</head>

<body>

<h1>ERROR #{ERROR_NUM} has occured</h1>

<h3>{ERROR_FILE}:{ERROR_LINE}</h3>

{ERROR_STR}

<br /><br />

Please try <a href="#" onclick="location.reload()">refreshing</a> this page, or if problem persist, visit us later.

<br /><br />

We apologise for any problems.

</body>
</html>