<table class="opt" align="center">
<tr>
	<td class="opt_row4" style="text-align: center">
	<img src="{STYLE}/logo_tiny_black.png" />
	<div id="loging_credits">{CREDITS}</div>
	</td>
	<td class="opt_row4" style="text-align: left">
	<message><div id="loging_message">{MESSAGE}</div></message>
	{RETURN_LINK}	
	</td>
</tr><error>
<tr>
	<td class="opt_row3" colspan="2" style="text-align: center">
	<div id="loging_error">{ERROR_MESSAGE}</div>
	</td>
</tr></error>
<tr>
	<td class="opt_row1" style="width: 40%;">
	<b>{LOGIN}:</b> 
	</td>
	<td class="opt_row2">
	<input name="user_login" type="text" style="width: 100%;" />
	</td>
</tr>
<tr>
	<td class="opt_row1" style="width: 40%;">
	<b>{PASSWORD}:</b>
	</td>
	<td class="opt_row2">
	<input name="user_pass" type="password" style="width: 100%;" />
	</td>
</tr>
</table>